---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Web3Storage",
    icon: "frameworks/Web3Storage",
    url: "https://web3.storage/",
  },
  {
    title: "IPFS",
    icon: "frameworks/IPFS",
    url: "https://ipfs.tech/",
  },
  {
    title: "ChatGPT",
    icon: "frameworks/ChatGPT",
    url: "https://chat.openai.com/auth/login",
  },
  {
    title: "Estuary",
    icon: "frameworks/Estuary",
    url: "hhttps://estuary.tech/",
  },
  {
    title: "Remix",
    icon: "frameworks/Remix",
    url: "https://remix.ethereum.org/#optimize=false&runs=200&evmVersion=null&version=soljson-v0.8.17+commit.8df45f5f.js",
  },
  {
    title: "Lit",
    icon: "frameworks/lit",
    url: "https://lit.dev/",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "DappNode",
    icon: "platforms/DappNode",
    url: "https://dappnode.com/en-us",
  },
  {
    title: "Vercel",
    icon: "platforms/vercel",
    url: "https://vercel.com/",
  },
  {
    title: "Cloudflare",
    icon: "fa-brands:cloudflare",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "Replit",
    icon: "platforms/Replit",
    url: "https://replit.com/",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
  },
  {
    title: "GitLab",
    icon: "fa-brands:gitlab",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
];
---

<ContentSection title="Compatibility" id="compatibility">
  <Fragment slot="lead">
    Eon <span class="text-primary">Utilizes & Partners</span>with many{" "}
    <span class="text-primary">Networks</span>
    & Well Known <span class="text-primary">Platforms</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Frameworks"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={platforms}
    title="Platforms"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
